.flash- {
    &success, &error {
        color: white;
    }

    &success {
        background: #007A50;
    }
    &error {
        background: #AF291D;
    }
}

button {
    &.contrast {
        &:focus {
            color: white;
            background-color: #007A50;
        }
    }
}